@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    
    /* Włączamy skakanie ZAWSZE (Mobile + Desktop) */
    scroll-snap-type: y mandatory;
    
    /* KLUCZOWE: Margines od góry, aby Sticky Header nie zasłaniał treści po skoku */
    /* 80px na mobile (wysokość paska), 0 na desktop (bo pasek jest z boku) */
    scroll-padding-top: 100px;
    
    @media (min-width: 1024px) {
        scroll-padding-top: 0px;
    }
  }
  
  section {
    @apply min-h-screen flex flex-col justify-center px-4 md:px-0;
    
    /* Punkt przyciągania */
    scroll-snap-align: start;
    
    /* Wymuszamy zatrzymanie na sekcji (nie można przewinąć w połowie) */
    scroll-snap-stop: always;
  }

  body {
    @apply bg-bg-primary text-text-primary;
  }
}